html, body {height:100%;}

body {
    margin:0;
    padding:0;   
    background: #112338;
}
html>body #minHeight{ /* Opera and IE8 min-height fix */
    float:left;
    width:0;
    height:100%;
    overflow:hidden;
} 

img {
    border: none;
}

/*=== Begin Layout Structure ===*/

#page {
    text-align: left;
    /*margin: 10px auto 0;*/
    padding: 0;
/*    width: 980px !important;*/
    
    height: 100%;
    width: 100%;
}

#wrapper {
    min-height:100%; /*height is determined from parent's height (html & body)*/
    margin:0 auto;

    overflow:hidden;/*contain inner floats*/
}
* html #wrapper {height:100%; overflow:visible;}/*IE6 min-height & overflow reset*/

#topmost {
    position: relative;
    float: right;
    height: 20px;
}

#header{
    height: 95px;
    margin: 0 0 0 10px;
    padding: 0; 
}

#header h1 {
    display: block;
    color: #C6D8ED !important;
    position: absolute;
    left :70px;
    font-family: "Trebuchet MS";
}

#header img {
    position: absolute;
    left: 0; top: 15px;
}

#header a img {
    border: none;
}

#search input.text {
    font-size:.85em;
    padding:4px;
    -moz-border-radius:4px;
    -khtml-border-radius:4px;    
    -webkit-border-radius:4px;
    border-radius:4px;
    height:14px;
    vertical-align:top;
    background:url("images/search-background.png") repeat-x;
    border:1px solid #0b1725;
    margin-right:6px;
    color:#c6d8ed;
    float:left;
    width:150px;
}

#navigation {
    background: #112338 url("images/header-bar.png") repeat-x;
    height: 60px;
    vertical-align: middle;
}

#navigation.short {
    height: 15px !important;
}

.holder {
    padding-bottom: 1061px; /*footer height (plus 10px for text spacing)*//* look .holder*/  
    margin-bottom: -1000px;
}

#center {
    background: #fff;
    display: inline;
    margin-left: 20%;
    overflow: hidden;
    float: left;
    width: 58%;
    padding-top: .5em;
}
#content {
    padding: 15px 15px 70px 15px;
}

#left{
    float: left;
    margin-left: -78%;
    width: 20%;
    background-color: #112338;
}
#leftsidebar {
    margin: 0;
    
    padding: 8px;
    background-color: #a1bfe2;
}

#leftsidebar .box ul {
    padding-bottom: 1em;
}

#right {
    float: left;
    display: inline-block;
    width:22%;
    background-color: #112338;
}
#rightsidebar {
    margin: 0;
    padding: 8px;
    background-color: #a1bfe2;
}

#rightsidebar .box ul {
    padding-bottom: 1em;
}


#footer {
    position:relative;/*stack footer above #content demo BG color*/
    height: 100px;
    background: #1e3c62;
    border-width: 1px 0;
    border-style: solid;
    border-color: #070f19;


    margin:-101px auto 0; /*pull footer back into viewport and center*/
}
#footer td {
    vertical-align: middle;
}
#footer td.text {
    padding: 0 15px;
}
#footer td.text p {
    margin: 0;
    padding: 0;
}

#footer-menu,
#footer-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	left: auto;
	margin-left: 15px;
}

#footer-menu li {
	margin: 0 15px 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: inline;
	font-weight: bold;
	background: none;
	position: relative;
	width: 140px;
}

#footer-menu li ul {
	margin: 0.5em 0 2em 0;
}

#footer-menu ul li {
	float: none;
	font-size: 85%;
	padding: 0 0 0.4em 0;
	margin: 0;
	font-weight: normal;
	display: block;
	width: auto;
}

#footer-menu li a {
	font-weight: bold;
	color: #A1BFE2;
}

#footer-menu li ul a {
	font-weight: normal;
}

#footer-menu li a:hover {
    color: #ce7b00;
}
.notes-line {
	border-color: #CCCCBB -moz-use-text-color -moz-use-text-color;
	border-style: dashed none none;
	border-width: 1px medium medium;
	margin: 2em 0pt 0pt 0pt;
}
.notes {
	margin: 0;
	float: right;
	color: #CCCCBB;
	font-weight: bold;
	font-size: 12px;
}



/*Searching*/
#search {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1em;
}

#search input[type="text"],
#search input.text {
    font-size:.85em;
    padding:4px;
    -moz-border-radius:4px;
    -khtml-border-radius:4px;    
    -webkit-border-radius:4px;
    border-radius:4px;
    vertical-align:top;
    background:url("images/search-background.png") repeat-x;
    border:1px solid #0b1725;
    margin-right:6px;
    color:#c6d8ed;
    float:left;
    width:150px;
}

#search input.button {
    font-size:.85em;
    padding:2px;
    -moz-border-radius:4px;
    -khtml-border-radius:4px;    
    -webkit-border-radius:4px;
    border-radius:4px;
    background: #0b1725;
    border:1px solid #1e3c62;
    color:#c6d8ed;
    float:left;
    display:none;
}
/* End Search */
/* Language flags */
div.i18n {

}

div.i18n>ul {
	float: right;
	font-weight: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.i18n>ul li {
	background-image: none;
	border: medium none;
	float: right;
	font-size: 0.9em;
	margin: 1px;
	padding-left: 0;
	padding-right: 0;
	white-space: nowrap;
	
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-right: 5px;
}
div.i18n>ul li a {
	color: black;
	display: block;
}
/* End Language flags */

/* css rule affecting the table found in the subprojects page */
#content .node div table {
	border: solid 1px gray;
	background-color: rgb(249, 249, 249);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 50%;
	-moz-background-size: auto auto;
	border-collapse: collapse;
	font-size: 95%;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	width: 100%;
	margin: 1em;
}

#content .node div table th {
	border: solid 1px;
	text-align: center;
}

#content .node div table td {
	border: solid 1px;
}
/* end css rule affecting the table found in the subprojects page */

/* css rule affecting the headings in the subprojects page */
div .content h1 a {
	font-weight: normal;
}

div .content h1 a:hover {
	text-decoration: underline;
}
/* end css rule affecting the headings in the subprojects page */

/*Clearing floating elements*/
.clear {
	clear: both;
}

