ul.primary-links {
	margin: 36px 0 0 0;
	bottom: 0;
	position: relative;
	float: right;
	padding: 10px 10px 0;
	list-style: none;
	
	/* Text */
	letter-spacing: -.05em;
	text-transform: lowercase;
	font-weight: bold;
}

ul.primary-links li {
	float: left;
	background: url("images/menu-left.png") no-repeat left top;
        margin: 0 1px 0 0;
	padding: 0 0 0 13px;
}

ul.primary-links li a {
	float: left;
	display: block;
	width: .1em;
	background: url("images/menu-right.png") no-repeat right top;
	padding: 5px 13px 4px 0px;
	text-decoration: none;
	color: #a1bfe2;
}

#header > ul a { width: auto; }
/* IE5 Mac hide \*/
#header a {
	float: none;
	padding-bottom: 9px !important;
}
/* End */

#header .active {
	background-position: 0 -220px !important;
	border-width: 0 !important;
}

#header .active a {
	background-position: 100% -220px !important;
	
    color: #fff !important;
}

#header li:hover, #header li:hover a {
	background-position: 0% -110px;
	color: #fff;
}

#header li:hover a {
	background-position: 100% -110px;
}

/* Quick start menu*/

#quicklinks {
	height: 100%;
}

#quicklinks span {
	float: left;
	padding: 20px 0 0 10px;
	color: #C6D8ED;
}
div#block-imagemenu-1 {
	width: auto;
	float: left;
}
ul.imagemenu {
	margin: 14px 0 0 0;
	bottom: 0;
	position: relative;
	float: left;
	padding: 0px 10px 0;
	list-style: none;
	
	/* Text */
	letter-spacing: -.05em;
	text-transform: lowercase;
	color: white;
}
ul.imagemenu li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	width:52px;
}

/*end Quick start menu*/

/* SIDE MENU */

#sidebar .menu ul {
    list-style: none;
    font-size: .85em;
    line-height: 1.2em;
}

#sidebar .menu ul li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

#sidebar .menu ul li a {
    display: block;
}

#sidebar .menu ul li.current_page_item a {
    color: #333;
}


/*
translation flags class
*/

