/* Main menu (Tabs) */
#block-menu-primary-links {
	margin: 36px 0 0 0;
}
#block-menu-primary-links ul {
	bottom: 0;
	position: relative;
	float: right;
	padding: 10px 10px 0;
	list-style: none;
	
	/* Text */
	letter-spacing: -.05em;
	text-transform: lowercase;
	font-weight: bold;
}

#block-menu-primary-links ul li {
	list-style-image: none;
	list-style-type: none;

	float: left;
	background: url("images/menu-left.png") no-repeat left top;
        margin: 0 1px 0 0;
	padding: 0 0 0 13px;
}

#block-menu-primary-links ul li a {
	float: left;
	display: block;
	width: auto;
	background: url("images/menu-right.png") no-repeat right top;
	padding: 5px 13px 9px 0px;
	text-decoration: none;
	color: #a1bfe2;
}

#block-menu-primary-links .active-trail {
	background-position: 0 -220px !important;
	border-width: 0 !important;
}

#block-menu-primary-links .active-trail a {
	background-position: 100% -220px !important;
	
    color: #fff !important;
}

#block-menu-primary-links li:hover, #block-menu-primary-links li:hover a {
	background-position: 0% -220px;
	color: #fff;
}

#block-menu-primary-links li:hover a {
	background-position: 100% -220px;
}

/* End Main menu (Tabs) */


/* Quick start menu*/

#quicklinks {
	float: left;
	height: 60px;
}

#quicklinks span {
	float: left;
	padding: 20px 0 0 10px;
	color: #C6D8ED;
}
div#block-imagemenu-1 {
	width: auto;
	float: left;
	height: 100%;
}
ul.imagemenu {
	margin: 14px 0 0 0;
	bottom: 0;
	position: relative;
	float: left;
	padding: 0px 10px 0;
	list-style: none;
	
	/* Text */
	letter-spacing: -.05em;
	text-transform: lowercase;
	color: white;
}
ul.imagemenu li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	width:52px;
}

/*end Quick start menu*/

/* SIDE MENU */
#leftsidebar > div > div h2, #rightsidebar > div > div h2 {
    padding: 1em 0 0 1em;
    background: url("images/menu/menu-top-left.png") no-repeat left top transparent;
    
}
#leftsidebar > div > div, #rightsidebar > div > div {

    background: url("images/menu/menu-top-right.png") no-repeat right top #A1BFE2;
    margin: 10px 2px 0px 2px;
}
/*
#sidebar .menu ul {
    list-style: none;
    font-size: .85em;
    line-height: 1.2em;
}

#sidebar .menu ul li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

#sidebar .menu ul li a {
    display: block;
}

#sidebar .menu ul li.current_page_item a {
    color: #333;
}
*/

/* Language menu */
div.i18n {

}

div.i18n > ul {
	float: right;
	font-weight: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	
	margin: 0;
	padding: 0;
}

div.i18n>ul li {
	background-image: none;
	border: medium none;
	float: right;
	
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;

	margin: 1px;
	margin-right: 5px;
	padding-left: 0;
	padding-right: 0;

	font-size: 0.9em;
	white-space: nowrap;
}
div.i18n>ul li a {
	display: block;

	color: black;
}
/* End Language flags */

