body {
    /* 0.8125em */
    background: #112338;
    
    font: 0.85em "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
    line-height: 1.5em;
}

/*#navigation h2 {
    font: 22px "Myriad", "Calibri", "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif !important;
    font-weight: bold !important;
    margin: 0 !important;
    color: #c6d8ed !important;
    border: none !important;
    padding: 15px 0 0 10px !important;
    white-space: nowrap !important;
}
*/
#content {
    color: #333;
}

a {
    color: #0d71c0;
    text-decoration: none;
}

a:hover {
    color: #112338;
}

#logo a h1 {
    font-family: "Trebuchet MS";
    color: #C6D8ED !important;
}

#content ul {
    list-style-image: url("images/bullet.png");
}

.home-icon-link {
    padding: 0 0 6px 28px;
    display: block;
}

.news-link {
    background: url("images/news.png") no-repeat;
    margin-top: 2em;
}

.rss-link {
    background: url("images/rss.png") no-repeat;
}

code, pre {
    font: 1.15em "Consolas", "DejaVu Sans Mono", monospace;
    background: #EAEFFC;
    border: 1px solid #eee;
    padding: 5px;
    margin: 0.5em;
    border-width: 1px 1px 1px 3px;
    border-color: #B8C3FF;
}

#footer {
    color: #a1bfe2;
    font-size: 0.85em;
    line-height: 1.3em;
}

#footer a {
    font-weight: normal;
    color: #6093ce;
}

p {
	margin: 0.5em 0em 0.25em 0em;
	text-indent: 3em;
}

h1 {
    color: #274e80;
    font-weight: normal;
    font-size: 1.8em;
    margin-top: 1.25em;
	margin-bottom: 0.35em;
}


/* css rule affecting the heading in the primary menu pages */
h1.heading a {
	font-size: 0.8em;
	margin-top: 1em;
	font-weight: normal;
}

h2 {
    color: #274e80;
    font-weight: normal;
    font-size: 1.8em;
    margin-top: 1.15em;
    line-height: 1.5em;
    margin-bottom: 0.35em;
}

h3 {
    color: #274e80;
    font-weight: normal;
    font-size: 1.4em;
    margin-bottom: 0.35em;
}

h5 {
    margin-bottom: .25em;
}

#content h1:first-child, 
h2:first-child,
h3:first-child,
p:first-child {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

p.latest-version {
    margin-top: 0;
    border: 1px solid #fc0;
    background: #ffc;
    padding: .5em;
    font-weight: bold;
    font-size: 1.15em;
}

ul {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0 0 0 .5em;
    padding: 0;
}

li {
    margin-left: 1.5em;
}

/* News list on home page */

#news .date {
    color: #666;
    font-style: italic;
}

#news p a {
    color: #333 !important;
    font-weight: normal !important;
}

/* Quotes List */

dl dt {
    font-weight: bold;
    margin-top: 1em;
}

dl dd {
    margin: 0;
    font-style: italic;
}

dl.quotes dt {
    margin-top: 1em;
}

dl.quotes dt a:before {
    content: open-quote;
}

dl.quotes dt a:after {
    content: close-quote;
}

dl.quotes dd {
    margin: 0;
    font-style: italic;
}

dl.faq dd {
    font-style: normal;
    margin-bottom: 1.5em;
}

div.release-shot div {
    font-style: italic;
    font-size: .85em;
    color: #666;
    line-height: 1.3em;
}

blockquote {
    font-style: italic;
}

/* Sidebar */

#rightsidebar {
    font-size: 0.80em;
}

#rightsidebar h2, #leftsidebar h2  {
    font-size: 1.3em;
    font-weight: bold;
    margin: 1.5em 0 .75em 0;
    color: #152d47;
    border-bottom: 1px solid #c8daee;
}

#rightsidebar h5:first-child {
    margin-top: 0 !important;
}

/* css rule affecting headings in the subprojects pages */
#content div .subproject-title {
	font-size: 1.8em;
	text-align: center;
	border-bottom: solid 1px;
	padding-bottom: 0.20em;
}

/* css rule affecting the image markings in the content/models page 
div.content ul li span {
	font-style: italic;
	font-weight: bold;
}
*/
/* Search */

#search input.form-submit {
    font-size:.85em;    
    color:#c6d8ed;
}

#search input[type="text"],
#search input.text {
    vertical-align:top;
    padding:4px;
    margin-right:6px;

    color:#c6d8ed;
    font-size:.85em;
}


/* End Search */

/* Footer */
#footer-menu a {
	font-weight: normal;
	color: #A1BFE2;
}

#footer-menu a:hover {
	color: #CE7B00;
}

#footer-menu ul li {
	font-weight: normal;
	font-size: 85%;
}

#footer-menu li.first a {
	font-weight: bold;
}


#footer #message p {
	color: #A1BFE2;
	
	font-weight: normal;
	font-size: 85%;	
	text-align: center;
	text-indent: 0;
}

/* End Footer */

/* Override system styles */

#user-login-form {
	text-align: left;
}

/* End Override system styles */

