/* SolidOptOnline CSS file */

global
{
	modal-transparency: 0.6;
	modal-transparency-duration: 500;
}

Button 
{
   cornerRadius: 7;
   color: #333333;
   textRollOverColor: #333333;
   textSelectedColor: #333333;
   borderColor: #757A97;
   themeColor: #999999;
}

List
{
    color:                        #333333;
    text-roll-over-color:        #333333;
    text-selected-color:        #333333;
    roll-over-color:            #e4e4e4;
    selection-color:            #cdcdcd;
    alternating-item-colors:    #f8f8f8, #ffffff;    

}

Panel {
    borderStyle: solid;
    borderColor: #555555;
    cornerRadius: 7;
    borderThickness: 2;
}


.infoButton
{
	skin: Embed(source="../assets/skins/info.png");
}

.optimizeButton
{
    cornerRadius: 1;
    paddingTop: 2;
    paddingBottom: 2;
    color: #333333;
    textRollOverColor: #333333;
    textSelectedColor: #333333;
    borderColor: #999999;
    themeColor: #494949;
    highlightAlphas: 0, 0.2;
    fillAlphas: .85, .85, 1, 1;
    fillColors: #ededed, #b9b9b9, #ededed, #b9b9b9;
    color: #333333;
}

.headerStyle
{
	background-image: Embed(source="../assets/skins/header.png");
}

.infoCompStyle
{
	border-style: solid;
	corner-radius: 8;
	background-color: #ffffff;
}

.infoHeader
{
	font-family: Arial;
	font-weight: bold;
	font-size: 18;
	color: #000000;
}

.infoNormalText
{
	font-family: Arial;
	font-size: 14;
	color: #333333;
}

.infoOKButton
{
	font-family: Arial;
	color: #000000;
}

.listContainer
{
	border-style: solid;
	border-color: #999999;
	corner-radius: 5;
	border-thickness: 3;
}

.leftArrowButton
{
	skin: Embed(source="skins/left_arrow.png");
}

.removeButtonStyle
{
	skin: Embed(source="skins/remove_icon.png");
}

.methodInspectorStyle
{
	border-style: solid;
	border-color: #cccccc;
	corner-radius: 5;
}

.headerCanvasStyle
{
	font-weight: bold;
}